<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta author="description" content="itang - 唐古拉山">
    <title>TODO-爱唐</title>
    <link href="/public/app/images/favicon.ico" rel="shortcut icon">
    <link href="/public/libs/bootstrap-1.4.0/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/app/styles/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <h1>@TODO: {{message}}</h1>
</div>
</body>
</html>