<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Projects - 爱唐</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="关于itang的一些">
  <meta name="author" content="itang">
  <link rel="shortcut icon" href="public/app/images/favicon.ico">
  <link href="public/libs/bootstrap-2.0.3/css/bootstrap.css" rel="stylesheet">
  <link href="public/libs/bootstrap-2.0.3/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="public/app/styles/main.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="/public/libs/bootstrap-2.0.3/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">爱唐</a>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> <span id="who">username</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/projects">Projects</a></li>
          <li><a href="/apps/bookmarkers">Bookmarkers</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">同步日志 <button class="btn primary" id="btnSync">同步</button></li>
          <li class="log-item"><a href="#">Link</a></li></ul></div></div>
    <div class="span9">
      <div class="content">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#by_updated">关注的github项目</a></li>
          <li><a href="#by_group">按语言分组浏览(todo)</a></li>
          <li><a href="#by_tag">按标签浏览(todo)</a></li>
        </ul>
        <table class="table table-condensed" id="projects">
          <thead>
            <tr>
              <th width="40px">#</th>
              <th width="100px">名称</th>
              <th width="80px">语言</th>
              <th width="360px">描述</th>
              <th>更新时间</th>
              <th>关注度</th>
              <th>*</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="no">1</td>
              <td class="name"><a href="#" target="_blank" title=""></a> </td>
              <td class="language">language</td>
              <td class="description"><small>description</small></td>
              <td class="updated_at">updatedAt</td>
              <td class="attention">attention</td>
              <td class="actions"><button class="btn primary ding" data="rust">ding!</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="/public/libs/jquery.tablesorter-2.0.5/jquery.tablesorter.min.js" type="text/javascript"></script>
<script src="/public/app/scripts/projects.js" type="text/javascript"></script>
</body>
</html>