<div class="container-fluid" id="body-content">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">同步日志
            <button class="btn primary" id="btnSync">同步</button>
          </li>
          <li class="log-item"><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
    <div class="span9">
      <div class="content">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#by_updated">关注的github项目</a></li>
          <li><a href="#by_group">按语言分组浏览(todo)</a></li>
          <li><a href="#by_tag">按标签浏览(todo)</a></li>
        </ul>
        <table class="table table-condensed" id="projects">
          <thead>
          <tr>
            <th width="40px">#</th>
            <th width="100px">名称</th>
            <th width="80px">语言</th>
            <th width="360px">描述</th>
            <th>更新时间</th>
            <th>关注度</th>
            <th>*</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="no">1</td>
            <td class="name"><a href="#" target="_blank" title=""></a></td>
            <td class="language">language</td>
            <td class="description">
              <small>description</small>
            </td>
            <td class="updated_at">updatedAt</td>
            <td class="attention">attention</td>
            <td class="actions">
              <button class="btn primary ding" data="rust">ding!</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="/public/libs/jquery.tablesorter-2.0.5/jquery.tablesorter.min.js" type="text/javascript"></script>
  <script src="/public/app/scripts/projects.js" type="text/javascript"></script>
</div>